---
import { ToggleDarkMode } from '@/components/ToggleDarkMode.tsx'
import Layout from '@/layouts/Layout.astro'
---

<Layout title='Remote Stylus'>
  <main class='container mx-auto my-8'>
    <div class='flex flex-wrap items-center justify-between mb-8'>
      <h1 class='text-3xl font-bold flex flex-wrap gap-3 items-end'>
        <span>Top Page</span>
      </h1>
      <div class='flex items-center gap-6'>
        <a href='/' class='font-bold text-accent-foreground'>Top</a>
        <ToggleDarkMode client:load />
      </div>
    </div>
  </main>
</Layout>
